*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Roboto", sans-serif ;
}

header{
  background: #F6F7D7;
  width: 100vw;
  height:50px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #BF9270;
  font-weight: bold;
  transition: .7s ease, text-decoration 0.3s ease, text-underline-offset 0.3s ease;
}

a:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em; /*espaço entre a letra e o sublinhado*/
  
}

#banner{
 
background: url(img/image.jpg) 27% center no-repeat;

}
